.nav
  a(href='/')
    img.logo(src='http://static.tumblr.com/ebd430b8837b33e740fa746f8b7744f0/ytyjahw/2KYmre3gn/tumblr_static_130811_statlas_logo.gif')

  ul
    li
      a.header-link(href='headlines.html') Headlines
    li
      a.header-link(href='game_index.html') Game Index

  p.note Statlas maps sports. This month we're charting every moment of gameplay in the MLB playoffs.

.moat