.nav
  h1.logo logo

  ul
    li
      a.header-link(href='headlines.html') Headlines
    li
      a.header-link(href='game_index.html') Game Index

  p.note Statlas maps sports. This month we're charting every moment of gameplay in the MLB playoffs.
