@import '_settings'

normalize()
base()

body
  padding: 50px

  h1.logo
    float: left

  li
    list-style-type: none
    float: left
    margin-left: 2em
    font-size: 1.5em

    a
      text-decoration: none
      text-transform: uppercase
      color: gray

      &.active
        color: black
        border-bottom: 2px solid red

  p.note
    float: right
    width: 22em

    