@import '_settings'

normalize()
base()

body
  padding: 50px

  img.logo
    float: left
    width: 9em

  li
    list-style-type: none
    float: left
    margin: 1em 0 0 2em
    font-size: 1.5em

    a
      text-decoration: none
      text-transform: uppercase
      color: gray

      &.active
        color: black
        border-bottom: 2px solid red

  p.note
    float: right
    width: 22em

  .moat
    clear: both
    margin: 10em 0

  h3.title
    border-top: 2px solid gray

  // h2.headline
  img.snippet
    width: 57%

  .wrap-up
    display: inline-block
    width: 37%
    float: right

    // p.summary
      
    button.full-game
      margin-top: 20%
      simple-button(#a7a9ac, 15)


      